<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
        @import {{style}};
    </style>
	<meta charset="utf-8">
	<title>Главная</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="content">
	<div class="header">
		<a href="#">Главная</a>
		<a href="about">О нас</a>
		<a href="contacts">Контакты</a>
		<a href="watch">Просмотр сериалов</a>
	</div>

	<h1>Лучшие отечественные и зарубежные сериалы</h1>

	<div class="center">
	<img src="images/aa.jpg">
		<div class="box_text">
			<p>Добрый день! Вы находитесь на лучшем сайте сериалов <b><i>BEST-SERIES.RU</i></b>.</p>
				<p>Переходите по --> <a href="watch">ссылке</a>и наслаждайтесь!</p>

		</div>
	</div>
</div>
<div class="footer">
	Copyright &copy; <?php echo "2022";?> <i>Grigoriev Sergey</i>
<div>


</body>
</html>