{% extends "base.html" %}
{% block title %}
	Главная
{% endblock %}

{% block style %}
	{% include "inc-style.html" %}
{% endblock %}

{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}

{% block body %}
	{% include "inc-body-index.html" %}
	<div>
		<a href="/create-category/">Создать новый жанр</a>
		<a href="/visitor-list/">Список посетителей</a>
		<a href="/create-visitor/">Создать посетителя</a>
		<a href="/add-visitor/">Добавить посетителя к просмотру</a>
	</div>
	<div>
		<h1>Список существующих жанров</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество сериалов: {{item.series_count()}}</span>
			<a href="/series-list/?id={{item.id}}">Показать доступные сериалы и фильмы</a>
        </li>
        {% endfor %}
	</div>

{% endblock %}

{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}